.we-are-working {
  @include font(700, 12px, 16px, #B3B3BA);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font(700, 16px, 20px, #B3B3BA);
  }
  &::before, &::after {
    display: inline-block;
    content: '';
    background-image: url("../../assets/img/ukraine-flag.svg");
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat:  no-repeat;
    margin: 0 2px;
    @media screen and (min-width: 768px) {
      height: 20px;
      width: 20px;
    }
  }
}